# Usefull for docker-compose.yml
# Copy to .env and modify
DATA=/home/me/Community-Free-Services/data
CONFIG=/home/me/Community-Free-Services/config
DOMAIN=mim.ovh # Domain DNS
# Hosts Name
SSO=sso1
EUSER=groupe1a
EBOARD=board1
PAD=pad1
CALC=calc1
NEXTCLOUD=cloud1
FILE-PIZZA=fp1
# Passord for DB
DBNXTPWD=MyGoodPwd;
DBKCKPWD=MyGoodPwd;
