# Usefull for docker-compose.yml
# Copy to .env and modify 
DOMAIN=mim.ovh # Domain DNS 
# Hosts Name
SSO=sso1       
EUSER=groupe1a 
EBOARD=board1
PAD=pad1
CALC=calc1
NEXTCLOUD=cloud1
FILE-PIZZA=fp1

