for  Proxy AUTH  ethercal
# is the url for retrieve the OpenID configuration - normally the <server>/auth/realm/<realm_name>
discovery-url: https://sso.mondomain.fr/auth/realms/mim
# the client id for the 'client' application
client-id: grp
# the secret associated to the 'client' application
client-secret:
# the interface definition you wish the proxy to listen, all interfaces is specified as ':<port>', unix sockets as unix://<REL_PATH>|</ABS PATH>
listen: proxycalc:3000
# whether to enable refresh tokens
enable-refresh-tokens: true
# the location of a certificate you wish the proxy to use for TLS support
tls-cert:
# the location of a private key for TLS
tls-private-key:
# the redirection url, essentially the site url, note: /oauth/callback is added at the end
redirection-url: https://calc.mondomain.fr
# the encryption key used to encode the session state
encryption-key: ThisIsMyKey1315
# the upstream endpoint which we should proxy request
#upstream-url: http://localhost:8000
upstream-url: http://ethercalc:8000
secure-cookie: false
